.button {
    width: 335px;
    height: 44px;
    border-radius: 8px;
    border: none;

    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    color: #ffffff;

    &--active{
        background-color: #FFA235;
    }

    &--inactive{
        background-color: #211C70;

        &:hover{
        background-color: #FFA235;

        }
    }

    &--list {

        width: 38px;
        height: 38px;
        background-color: #E5E5E5;

    }

    &--nullList {
        width: 38px;
        height: 38px;
        background-color: #F9F9F9;
    }
}
