.navBar{
    background: #f9f9f9;
    box-shadow: 0px 4px 13px rgba(63, 63, 63, 0.25);
    border-radius: 8px;
    font-family: 'Nunito';
    height: 57px;
    width: 327px;
    display: flex;
    align-items: center;

    &__home {
        background: url("../images/Casa.svg") no-repeat scroll 0 0 transparent;
        border: #F9F9F9;
        cursor: pointer;
        height: 20px;
        padding-bottom: 2px;
        width: 27px;
        margin-left: 45px;
        &:focus {
            background: url("../images/Casa_a.svg") no-repeat scroll 0 0 transparent; 
        }
    }

    &__list {
        background: url("../images/Lista.svg") no-repeat scroll 0 0 transparent;
            border: #F9F9F9;
            cursor: pointer;
            height: 20px;
            padding-bottom: 2px;
            width: 27px;
            margin-left: 40px;
            &:focus {
                background: url("../images/Lista_a.svg") no-repeat scroll 0 0 transparent; 
            }
    }

    &__community {
        background: url("../images/Comunidad.svg") no-repeat scroll 0 0 transparent;
            border: #F9F9F9;
            cursor: pointer;
            height: 20px;
            padding-bottom: 2px;
            width: 27px;
            margin-left: 40px;
            &:focus {
                background: url("../images/Comunidad_a.svg") no-repeat scroll 0 0 transparent; 
            }
    }

    &__profile {
        background: url("../images/Perfil.svg") no-repeat scroll 0 0 transparent;
            border: #F9F9F9;
            cursor: pointer;
            height: 20px;
            padding-bottom: 2px;
            width: 27px;
            margin-left: 40px;
            &:focus {
                background: url("../images/Perfil_a.svg") no-repeat scroll 0 0 transparent; 
            }
    }


}