.popUp {
    width: 258px;
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    padding: 16px;
    border-radius: 8px;

    &__title {
        font-family: "Nunito";
        font-style: normal;
        font-weight: bold;
        font-size: 20px;
        line-height: 27px;
        text-align: center;
        color: #211c70;
    }

    &__element {
        text-align: center;
        color: #ffa235;
        margin: 0;
    }
}

.button__popUp {
    width: 258px;
    height: 38px;
    left: 59px;
    top: 277px;
    color: #ffffff;
    background: #211c70;
    border-radius: 0px 0px 8px 8px;
}
