.route{
 margin: 0;
 padding: 0;
 width: 224px;
 height:164px;
 position: relative;
 -webkit-transition: all 0.3s;
 -moz-transition: all 0.3s;
 transition: all 0.3s;

 &:after {
     content: '';
     position: absolute;
     z-index: -1;
     -webkit-transition: all 0.3s;
     -moz-transition: all 0.3s;
     transition: all 0.3s;
   }
   
   &:before {
     font-family: 'FontAwesome';
     speak: none;
     font-style: normal;
     font-weight: normal;
     font-variant: normal;
     text-transform: none;
     line-height: 1;
     position: relative;
     -webkit-font-smoothing: antialiased;
   }
   &:active {
     top: 2px;
 
   }
  
   &:before {
     position: absolute;
     height: 100%;
     left: 0;
     top: 0;
     line-height: 3;
     font-size: 140%;
     width: 60px;
   }

    
   
&__box{
 
  display: flex;
  justify-content:space-between;

}
&__img {
    width: 100px;
    height: 129px;
 background-color: #FFDBB0;

  img{
    width: 100%;
    height: auto;
     } 
  @supports(object-fit: cover){
    img{
        height: 100%;
        object-fit: cover;
        object-position: center center;
      }
  }  
}

&__info{
    padding: 0;
    margin: 0;
   
    width: 124px;
    display: inline-block;
    white-space: nowrap;
    overflow: hidden ;
    text-overflow: ellipsis;
    h1{
        font-family: nunito;
        font-size: 25px;
        margin-left: 8px;
        color: #211C70;
    }
    h2{
        font-family: nunito;
        margin-left: 8px;
        font-size: 16px;
        color: #211C70;
    }

  }

  .button__popup--checkbox{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 224px;
    height: 35px;
    background-color: #FFA235;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    padding: 0;
   
    &:hover {
        background: #e69941;
      }
      &:active {
        background: #e69941;
      }
      input {
        height: 16px;
        width: 16px;
        white-space: nowrap;
        -webkit-appearance: none;
        -moz-appearance: none;
        -o-appearance: none;
        appearance: none;
        border-radius: 4px;
        outline: none;
        transition-duration: 0.3s;
        background-color: #F9F9F9;
        border: 1px solid #FFA235;
        cursor: pointer;
        
    }

    input:checked {
        border: 1px solid #FFA235;
        background-color: #FFA235;
    }
}

}
