.select{
    width: 100px;
    height: 38px;
    background-color: #F2F2F2;
    border-radius: 8px;
    color: #211C70;
    padding-left: 8px;
    border: none;

    font-family: Nunito;    
    font-style: normal;
    font-weight: bold;
    font-size: 14px; 
}