@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap");
.card {
  background: #f9f9f9;
  -webkit-box-shadow: 0px 4px 13px rgba(63, 63, 63, 0.25);
          box-shadow: 0px 4px 13px rgba(63, 63, 63, 0.25);
  border-radius: 8px;
  font-family: 'Nunito';
  height: 57px;
  width: 327px;
}

.card__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 16px;
}

.card__list input {
  height: 16px;
  width: 16px;
  white-space: nowrap;
  -webkit-appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
  appearance: none;
  border-radius: 4px;
  outline: none;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
  background-color: #F9F9F9;
  border: 1px solid #FFA235;
  cursor: pointer;
}

.card__list input:checked {
  border: 1px solid #FFA235;
  background-color: #FFA235;
}

.card__list p {
  font-size: 14;
  color: #9F9F9F;
  padding-left: 56px;
}

.card label {
  font-weight: bold;
  font-size: 16;
  color: #211C70;
  padding-left: 16px;
  min-width: -webkit-fit-content;
  min-width: -moz-fit-content;
  min-width: fit-content;
}

.card__list--add {
  padding-left: 22px;
  padding-top: 20px;
  display: block;
}

.card__list--add button {
  background: url("../images/plus.png") no-repeat scroll 0 0 transparent;
  border: #F9F9F9;
  cursor: pointer;
  height: 14px;
  padding-bottom: 2px;
  width: 14px;
}

.button {
  width: 335px;
  height: 44px;
  border-radius: 8px;
  border: none;
  font-family: Open Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  color: #ffffff;
}

.button--active {
  background-color: #FFA235;
}

.button--inactive {
  background-color: #211C70;
}

.button--inactive:hover {
  background-color: #FFA235;
}

.navBar {
  background: #f9f9f9;
  -webkit-box-shadow: 0px 4px 13px rgba(63, 63, 63, 0.25);
          box-shadow: 0px 4px 13px rgba(63, 63, 63, 0.25);
  border-radius: 8px;
  font-family: 'Nunito';
  height: 57px;
  width: 327px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navBar__home {
  background: url("../images/Casa.png") no-repeat scroll 0 0 transparent;
  border: #F9F9F9;
  cursor: pointer;
  height: 20px;
  padding-bottom: 2px;
  width: 27px;
  margin-left: 45px;
}

.navBar__home:focus {
  background: url("../images/Casa_a.png") no-repeat scroll 0 0 transparent;
}

.navBar__list {
  background: url("../images/Lista.png") no-repeat scroll 0 0 transparent;
  border: #F9F9F9;
  cursor: pointer;
  height: 20px;
  padding-bottom: 2px;
  width: 27px;
  margin-left: 40px;
}

.navBar__list:focus {
  background: url("../images/Lista_a.png") no-repeat scroll 0 0 transparent;
}

.navBar__community {
  background: url("../images/Comunidad.png") no-repeat scroll 0 0 transparent;
  border: #F9F9F9;
  cursor: pointer;
  height: 20px;
  padding-bottom: 2px;
  width: 27px;
  margin-left: 40px;
}

.navBar__community:focus {
  background: url("../images/Comunidad_a.png") no-repeat scroll 0 0 transparent;
}

.navBar__profile {
  background: url("../images/Perfil.png") no-repeat scroll 0 0 transparent;
  border: #F9F9F9;
  cursor: pointer;
  height: 20px;
  padding-bottom: 2px;
  width: 27px;
  margin-left: 40px;
}

.navBar__profile:focus {
  background: url("../images/Perfil_a.png") no-repeat scroll 0 0 transparent;
}
/*# sourceMappingURL=style.css.map */