@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap");
.card {
  background: #f9f9f9;
  -webkit-box-shadow: 0px 4px 13px rgba(63, 63, 63, 0.25);
          box-shadow: 0px 4px 13px rgba(63, 63, 63, 0.25);
  border-radius: 8px;
  font-family: 'Nunito';
  height: 57px;
  width: 327px;
}

.card__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 16px;
}

.card__list input {
  height: 16px;
  width: 16px;
  white-space: nowrap;
  -webkit-appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
  appearance: none;
  border-radius: 4px;
  outline: none;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
  background-color: #F9F9F9;
  border: 1px solid #FFA235;
  cursor: pointer;
}

.card__list input:checked {
  border: 1px solid #FFA235;
  background-color: #FFA235;
}

.card__list p {
  font-size: 14;
  color: #9F9F9F;
  padding-left: 56px;
}

.card label {
  font-weight: bold;
  font-size: 16;
  color: #211C70;
  padding-left: 16px;
  min-width: -webkit-fit-content;
  min-width: -moz-fit-content;
  min-width: fit-content;
}

.card__list--add {
  padding-left: 22px;
  padding-top: 20px;
  display: block;
}

.card__list--add button {
  background: url("../images/plus.png") no-repeat scroll 0 0 transparent;
  border: #F9F9F9;
  cursor: pointer;
  height: 14px;
  padding-bottom: 2px;
  width: 14px;
}

.button {
  width: 335px;
  height: 44px;
  border-radius: 8px;
  border: none;
  font-family: Open Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  color: #ffffff;
  position: relative;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.button:after {
  content: '';
  position: absolute;
  z-index: -1;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.button:before {
  font-family: 'FontAwesome';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  position: relative;
  -webkit-font-smoothing: antialiased;
}

.button:active {
  top: 2px;
}

.button:before {
  position: absolute;
  height: 100%;
  left: 0;
  top: 0;
  line-height: 3;
  font-size: 140%;
  width: 60px;
}

.button--active {
  background-color: #FFA235;
}

.button--inactive {
  background-color: #211C70;
}

.button--inactive:hover {
  background-color: #FFA235;
}

.button__popup--active {
  width: 224px;
  background-color: #FFA235;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
}

.button__popup--active:hover {
  background: #e69941;
}

.button__popup--active:active {
  background: #e69941;
}

.button__popup--inactive {
  width: 224px;
  background-color: #211C70;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
}

.button__popup--inactive:hover {
  background: #1d1861;
}

.button__popup--inactive:active {
  background: #1d1861;
}

.navBar {
  background: #f9f9f9;
  -webkit-box-shadow: 0px 4px 13px rgba(63, 63, 63, 0.25);
          box-shadow: 0px 4px 13px rgba(63, 63, 63, 0.25);
  border-radius: 8px;
  font-family: 'Nunito';
  height: 57px;
  width: 327px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navBar__home {
  background: url("../images/Casa.png") no-repeat scroll 0 0 transparent;
  border: #F9F9F9;
  cursor: pointer;
  height: 20px;
  padding-bottom: 2px;
  width: 27px;
  margin-left: 45px;
}

.navBar__home:focus {
  background: url("../images/Casa_a.png") no-repeat scroll 0 0 transparent;
}

.navBar__list {
  background: url("../images/Lista.png") no-repeat scroll 0 0 transparent;
  border: #F9F9F9;
  cursor: pointer;
  height: 20px;
  padding-bottom: 2px;
  width: 27px;
  margin-left: 40px;
}

.navBar__list:focus {
  background: url("../images/Lista_a.png") no-repeat scroll 0 0 transparent;
}

.navBar__community {
  background: url("../images/Comunidad.png") no-repeat scroll 0 0 transparent;
  border: #F9F9F9;
  cursor: pointer;
  height: 20px;
  padding-bottom: 2px;
  width: 27px;
  margin-left: 40px;
}

.navBar__community:focus {
  background: url("../images/Comunidad_a.png") no-repeat scroll 0 0 transparent;
}

.navBar__profile {
  background: url("../images/Perfil.png") no-repeat scroll 0 0 transparent;
  border: #F9F9F9;
  cursor: pointer;
  height: 20px;
  padding-bottom: 2px;
  width: 27px;
  margin-left: 40px;
}

.navBar__profile:focus {
  background: url("../images/Perfil_a.png") no-repeat scroll 0 0 transparent;
}

.route {
  margin: 0;
  padding: 0;
  width: 224px;
  height: 164px;
  position: relative;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.route:after {
  content: '';
  position: absolute;
  z-index: -1;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.route:before {
  font-family: 'FontAwesome';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  position: relative;
  -webkit-font-smoothing: antialiased;
}

.route:active {
  top: 2px;
}

.route:before {
  position: absolute;
  height: 100%;
  left: 0;
  top: 0;
  line-height: 3;
  font-size: 140%;
  width: 60px;
}

.route__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.route__img {
  width: 100px;
  height: 129px;
  background-color: #FFDBB0;
}

.route__img img {
  width: 100%;
  height: auto;
}

@supports ((-o-object-fit: cover) or (object-fit: cover)) {
  .route__img img {
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: center center;
       object-position: center center;
  }
}

.route__info {
  padding: 0;
  margin: 0;
  width: 124px;
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.route__info h1 {
  font-family: nunito;
  font-size: 25px;
  margin-left: 8px;
  color: #211C70;
}

.route__info h2 {
  font-family: nunito;
  margin-left: 8px;
  font-size: 16px;
  color: #211C70;
}

.route .button__popup--checkbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 224px;
  height: 35px;
  background-color: #FFA235;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  padding: 0;
}

.route .button__popup--checkbox:hover {
  background: #e69941;
}

.route .button__popup--checkbox:active {
  background: #e69941;
}

.route .button__popup--checkbox input {
  height: 16px;
  width: 16px;
  white-space: nowrap;
  -webkit-appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
  appearance: none;
  border-radius: 4px;
  outline: none;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
  background-color: #F9F9F9;
  border: 1px solid #FFA235;
  cursor: pointer;
}

.route .button__popup--checkbox input:checked {
  border: 1px solid #FFA235;
  background-color: #FFA235;
}
/*# sourceMappingURL=style.css.map */