@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap");
.card {
  background: #f9f9f9;
  -webkit-box-shadow: 0px 4px 13px rgba(63, 63, 63, 0.25);
          box-shadow: 0px 4px 13px rgba(63, 63, 63, 0.25);
  border-radius: 8px;
  font-family: "Nunito";
  height: 57px;
  width: 327px;
}

.card__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 16px;
}

.card__list input {
  height: 16px;
  width: 16px;
  white-space: nowrap;
  -webkit-appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
  appearance: none;
  border-radius: 4px;
  outline: none;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
  background-color: #f9f9f9;
  border: 1px solid #ffa235;
  cursor: pointer;
}

.card__list input:checked {
  border: 1px solid #ffa235;
  background-color: #ffa235;
}

.card__list p {
  font-size: 14;
  color: #9f9f9f;
  padding-left: 56px;
}

.card label {
  font-weight: bold;
  font-size: 16;
  color: #211c70;
  padding-left: 16px;
  min-width: -webkit-fit-content;
  min-width: -moz-fit-content;
  min-width: fit-content;
}

.card__list--add {
  padding-left: 22px;
  padding-top: 20px;
  display: block;
}

.card__list--add button {
  background: url("../images/plus.svg") no-repeat scroll 0 0 transparent;
  border: #f9f9f9;
  cursor: pointer;
  height: 14px;
  padding-bottom: 2px;
  width: 14px;
}

.button {
  width: 335px;
  height: 44px;
  border-radius: 8px;
  border: none;
  font-family: Open Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  color: #ffffff;
}

.button--active {
  background-color: #FFA235;
}

.button--inactive {
  background-color: #211C70;
}

.button--inactive:hover {
  background-color: #FFA235;
}

.input {
  border: none;
  border-radius: 8px;
  height: 38px;
  margin: 0;
  padding-left: 30px;
  width: 100%;
  color: #211c70;
  background: #f2f2f2;
  font-family: Nunito;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.input--right {
  padding-right: 30px;
  padding-left: 13px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.input::-webkit-input-placeholder {
  color: rgba(33, 28, 112, 0.43);
}

.input:-ms-input-placeholder {
  color: rgba(33, 28, 112, 0.43);
}

.input::-ms-input-placeholder {
  color: rgba(33, 28, 112, 0.43);
}

.input::placeholder {
  color: rgba(33, 28, 112, 0.43);
}

.input__container {
  border-radius: 8px;
  position: relative;
  background: #ddd;
  direction: ltr;
  width: 215px;
}

.input__container--big {
  width: 327px;
}

.input__searchBar {
  width: 327px;
}

.input__img {
  position: absolute;
  top: 12px;
  width: 14px;
  height: 14px;
}

.input__img--left {
  left: 8px;
}

.input__img--right {
  right: 8px;
}

.select {
  width: 100px;
  height: 38px;
  background-color: #F2F2F2;
  border-radius: 8px;
  color: #211C70;
  padding-left: 8px;
  border: none;
  font-family: Nunito;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
}

.navBar {
  background: #f9f9f9;
  -webkit-box-shadow: 0px 4px 13px rgba(63, 63, 63, 0.25);
          box-shadow: 0px 4px 13px rgba(63, 63, 63, 0.25);
  border-radius: 8px;
  font-family: 'Nunito';
  height: 57px;
  width: 327px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navBar__home {
  background: url("../images/Casa.svg") no-repeat scroll 0 0 transparent;
  border: #F9F9F9;
  cursor: pointer;
  height: 20px;
  padding-bottom: 2px;
  width: 27px;
  margin-left: 45px;
}

.navBar__home:focus {
  background: url("../images/Casa_a.svg") no-repeat scroll 0 0 transparent;
}

.navBar__list {
  background: url("../images/Lista.svg") no-repeat scroll 0 0 transparent;
  border: #F9F9F9;
  cursor: pointer;
  height: 20px;
  padding-bottom: 2px;
  width: 27px;
  margin-left: 40px;
}

.navBar__list:focus {
  background: url("../images/Lista_a.svg") no-repeat scroll 0 0 transparent;
}

.navBar__community {
  background: url("../images/Comunidad.svg") no-repeat scroll 0 0 transparent;
  border: #F9F9F9;
  cursor: pointer;
  height: 20px;
  padding-bottom: 2px;
  width: 27px;
  margin-left: 40px;
}

.navBar__community:focus {
  background: url("../images/Comunidad_a.svg") no-repeat scroll 0 0 transparent;
}

.navBar__profile {
  background: url("../images/Perfil.svg") no-repeat scroll 0 0 transparent;
  border: #F9F9F9;
  cursor: pointer;
  height: 20px;
  padding-bottom: 2px;
  width: 27px;
  margin-left: 40px;
}

.navBar__profile:focus {
  background: url("../images/Perfil_a.svg") no-repeat scroll 0 0 transparent;
}

.card__time {
  font-family: "Nunito";
  border-radius: 8px;
  width: 327px;
  background-color: #E0E0E9;
  padding: 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #211C70;
}

.card__time h1 {
  padding: 0;
  margin: 0;
}

.cardProduct {
  width: 327px;
  height: 92px;
  background-color: #F9F9F9;
  border-radius: 8px;
  -webkit-box-shadow: 0px 4px 13px rgba(63, 63, 63, 0.25);
          box-shadow: 0px 4px 13px rgba(63, 63, 63, 0.25);
}

.cardProduct__container {
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.cardProduct__size {
  width: 95px;
  height: 65px;
}

.cardProduct__info {
  margin-left: 12px;
}

.cardProduct__name {
  margin-top: 5px;
  margin: 0;
  font-family: Nunito;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  color: #211C70;
}

.cardProduct__weight {
  margin: 0;
  font-family: Nunito;
  font-style: normal;
  font-size: 12px;
  color: #211C70;
}

.cardProduct__star {
  width: 15px;
  height: 15px;
}

.cardProduct__price {
  margin: 0;
  font-family: Nunito;
  font-style: normal;
  font-size: 12px;
  color: #FFA235;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1em;
}
/*# sourceMappingURL=style.css.map */