//TIPOGRAFIAS
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');
@import 'card';
@import 'button';
@import 'input';
@import 'select';
@import 'navBar';
@import 'popUp';
@import 'statusBar';
@import 'item';
@import 'card-time';
@import 'cardProduct';
@import 'cardImg';
@import 'cardNewProduct';
@import 'radioButton';
@import 'productCard';
body {
    display: flex;
    flex-direction: column;
    gap: 1em;
}